##########################################
###### Please fill in the below 3 sections
##########################################

### Configuration
USE_COG_VECSEARCH = 0 # set this to 1 to enable vector search in cognitive search
PROCESS_IMAGES = 0 # set this to 1 to enable image processing
DATABASE_MODE = 0 # set this to 1 to enable backup mode with Cosmos
USE_REDIS_CACHE = 1 # set this to 1 to enable caching sessions and intermediate results with Redis


#### Cognitive Search
COG_SEARCH_ENDPOINT=""
COG_SEARCH_ADMIN_KEY=""
COG_SEARCH_CUSTOM_FUNC=""
KB_INDEX_NAME = "km-openai"
KB_INDEXER_NAME = "km-openai-indexer"
KB_DATA_SOURCE_NAME = "km-openai-docs"
KB_SKILLSET_NAME = "km-openai-skills"
KB_SEM_INDEX_NAME = "km-openai-sem"
COG_VEC_SEARCH_API_VERSION = "2023-07-01-Preview"
COG_VECSEARCH_VECTOR_INDEX = "vec-index"


#### Cognitive Services
COG_SERV_ENDPOINT=""
COG_SERV_KEY=""
FR_CONTAINER=kmoaiforms
CV_API_VERSION="2023-02-01-preview"

#### Knowledge Base - Blob Storage
KB_BLOB_CONN_STR=""
KB_BLOB_CONTAINER=kmoaidemo
OUTPUT_BLOB_CONTAINER=kmoaiprocessed


#### OPENAI
OPENAI_RESOURCE_ENDPOINT=""
OPENAI_API_KEY=""


############################################
###### No need to fill in the below sections
###### unless you're planning to develop
###### features with the below systems
############################################


#### Bing Search
USE_BING = "no"
BING_SUBSCRIPTION_KEY = ""
BING_SEARCH_URL = "https://api.bing.microsoft.com/v7.0/search"
LIST_OF_COMMA_SEPARATED_URLS = ""


#### Service Bus
SERVICEBUS_CONN_STR = ""


#### Redis E10
REDIS_ADDR=""
REDIS_PORT=10000
REDIS_PASSWORD=""
REDIS_INDEX_NAME='acs_emb_index'
VECTOR_FIELD_IN_REDIS='item_vector'
NUMBER_PRODUCTS_INDEX=1000

 

#### Cognitive Services - Translator
TRANSLATION_ENDPOINT="https://api.cognitive.microsofttranslator.com"
TRANSLATION_API_KEY=""
TRANSLATION_LOCATION=westeurope



#### Cosmos
COSMOS_URI=""
COSMOS_KEY=""
CATEGORYID="KM_OAI_CATEGORY"
EMBCATEGORYID="KM_OAI_EMB_CATEGORY"
COSMOS_DB_NAME="KM_OAI_DB"


# Computer Vision 
CV_ENDPOINT = ""
CV_API_KEY = ""


#### OPENAI
MAX_QUERY_TOKENS = 500
MAX_OUTPUT_TOKENS = 750
MAX_HISTORY_TOKENS = 1000
CONVERSATION_TTL_SECS = 7200
MAX_SEARCH_TOKENS = 2000
PRE_CONTEXT = 500

OVERLAP_TEXT=80

ADA_002_EMBED_NUM_DIMS  = 1536
ADA_002_MODEL_MAX_TOKENS = 4095
ADA_002_EMBEDDING_MODEL = "text-embedding-ada-002"
ADA_EMBEDDING_ENCODING = "cl100k_base"

DAVINCI_003_EMBED_NUM_DIMS = 12288
DAVINCI_003_MODEL_MAX_TOKENS = 4000
DAVINCI_003_EMB_MAX_TOKENS = 2047
DAVINCI_003_COMPLETIONS_MODEL = "text-davinci-003"
DAVINCI_003_EMBEDDING_MODEL   = "text-search-davinci-doc-001"
DAVINCI_003_QUERY_EMB_MODEL   = "text-search-davinci-query-001"
DAVINCI_EMBEDDING_ENCODING = "p50k_base"

GPT35_TURBO_COMPLETIONS_MODEL = 'gpt-35-turbo'
GPT35_TURBO_COMPLETIONS_MAX_TOKENS = 8193
GPT35_TURBO_COMPLETIONS_ENCODING = "cl100k_base"

GPT4_MODEL = "gpt-4"
GPT4_32K_MODEL = "gpt-4-32k"

CHOSEN_EMB_MODEL = "text-embedding-ada-002"
SMALL_EMB_TOKEN_NUM  = 0
MEDIUM_EMB_TOKEN_NUM  = 800
LARGE_EMB_TOKEN_NUM  = 0
X_LARGE_EMB_TOKEN_NUM = 0
NUM_TOP_MATCHES = 2


MAX_OUTPUT_TOKENS = 500
MAX_QUERY_TOKENS  = 500
CHOSEN_QUERY_EMB_MODEL = "text-embedding-ada-002"
CHOSEN_COMP_MODEL = "gpt-35-turbo"

RESTRICTIVE_PROMPT = "no"


